.dashboard_shell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard_loading_shell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header_shell {
  flex: 1;
}

.page_content_shell {
  flex: 5;
  overflow-y: auto;
  padding: 20px;
}
