<div>
  <h1>My Cases</h1>
  <p>View cases you'r assigned to</p>

  <div>Filters for status and pri <button>Filter</button></div>

  <div>Paged result with next pre buttoins</div>

  <form action="" [formGroup]="form">
    <app-search-users-select formControlName="selectedUser" displayText="d" />
    <app-search-users-select
      formControlName="selectedUserTwo"
      displayText="d"
    />
    <app-search-users-multi-select
      formControlName="selectedUsers"
      displayText="Select users to search"
    />
  </form>

  {{ form.value | json }}
</div>
