<div class="configy-container">
  <h1>Welcome to configy</h1>
  <button
    class="primary-btn"
    (click)="loadSolutionFolder()"
    [disabled]="loading"
  >
    @if (loading) {
    <span>Loading</span>
    } @else { Load solution folder }
  </button>

  @if (solutionFolder) {
  <div>Solution folder picked {{ solutionFolder }}</div>
  }

  <!---->
  @if (error && !loading) {
  <span>
    {{ error }}
  </span>
  }
  <!---->
  @if (solutionFolder && !loading) {
  <div class="actions">
    <button class="primary-btn" (click)="readFiles()">Continue</button>
    <button class="secondary-btn" (click)="cancel()">Cancel</button>
  </div>
  }
</div>

<!---->

@if (files.length > 0) {

<!---->
<h1>Files found</h1>

<div class="file_container">
  @for (item of files; track $index) {
  <button (click)="showItem(item)">
    {{ item.filePath }}
  </button>
  }
</div>

<!---->
}

<dialog #dialog>
  <div class="dialog_content">
    <h1>Selected item</h1>

    <span>{{ dialogItem?.fileName }}</span>
    <span>
      {{ dialogItem?.filePath }}
    </span>

    <p>
      Change the launch settings http values and anythign that referes to it
      will change as well
    </p>

    @if (dialogExctractedUrl) {
    <input type="text" [formControl]="httpControl" />
    <input type="text" [formControl]="httpsControl" />
    } @else {
    <h2>File is not launch settings file</h2>
    }

    <button (click)="CloseDialog()">Close</button>
  </div>
</dialog>
