<div class="configy-container">
  <h1>Welcome to configy</h1>
  <button
    class="primary-btn"
    (click)="loadSolutionFolder()"
    [disabled]="loading"
  >
    @if (loading) {
    <span>Loading</span>
    } @else { Load solution folder }
  </button>

  @if (solutionFolder) {
  <div>Solution folder picked {{ solutionFolder }}</div>
  }

  <!---->
  @if (error && !loading) {
  <span>
    {{ error }}
  </span>
  }
  <!---->
  @if (solutionFolder && !loading) {
  <div class="actions">
    <button class="primary-btn" (click)="readFiles()">Continue</button>
    <button class="secondary-btn" (click)="cancel()">Cancel</button>
  </div>
  }
</div>
