<h2 mat-dialog-title>Assign a officer</h2>
<mat-dialog-content>
  <form
    [formGroup]="searchUsersForm"
    class="form_group"
    (ngSubmit)="searchUsersFormSubmit()"
  >
    <mat-form-field appearance="outline" class="full_width">
      <mat-label>Search</mat-label>
      <input matInput formControlName="search" />
    </mat-form-field>

    <button type="submit" mat-button [disabled]="isLoading">Search</button>
  </form>

  <div class="searched_users_container">
    @if (isLoading) {
    <div>Fetching users...</div>
    }

    <!---->
    @if (!isLoading && errorMessage) {
    <div>Failed {{ errorMessage }}</div>
    }

    <!---->

    @if (!isLoading && !errorMessage) {
    <mat-selection-list
      #usersList
      [formControl]="selectedUserControl"
      name="usersList"
      [multiple]="false"
    >
      @for (user of searchUsersList; track user.id) {
      <mat-list-option [value]="user">{{ user.userName }}</mat-list-option>
      } @empty {
      <mat-list-option [value]="null" disabled>No users found</mat-list-option>
      }
    </mat-selection-list>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    (click)="saveClicked()"
    [disabled]="isLoading || errorMessage || selectedUserControl.invalid || isSaving"
  >
    Save
  </button>
</mat-dialog-actions>
