.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.full {
  flex: 1;
}

.searched_users_display_list_container {
  height: 150px;
  overflow-y: scroll;
}

.selected_users_details_container {
  height: 150px;
  overflow-y: scroll;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.selected_user_details_with_btn {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.icon_colour {
  color: red;
}
