<mat-form-field appearance="outline">
  <mat-label>Tags</mat-label>
  <input
    #input
    type="text"
    matInput
    [matAutocomplete]="auto"
    [formControl]="searchTagsInputControl"
  />

  @if (searchTagsInputControl.hasError("required")) {
  <mat-error> Required </mat-error>
  }
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="optionSelected($event)"
  >
    @if (_isLoading) {
    <mat-option disabled>Loading...</mat-option>
    }
    <!---->
    @if (_error && !_isLoading) {
    <mat-option disabled>{{ _error }}</mat-option>
    }
    <!---->
    @if (!_isLoading && !_error) {
    <!---->
    @for (item of _searchedTagsResult?.data; track item) {
    <mat-option [value]="item">{{ item.name }}</mat-option>
    } @empty {
    <mat-option disabled>No tags found</mat-option>
    }
    <!---->
    }
  </mat-autocomplete>
</mat-form-field>
