<div class="container">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (input)="onSearchInputChange($event)" />
  </mat-form-field>

  <div class="list">
    @for (incidentType of filteredIncidentTypes; track incidentType.id) {
    <button
      class="list_item"
      [class.focused]="
        internalCurrentSelectedIncidentTypeId === incidentType.id
      "
      (click)="listItemClicked(incidentType)"
    >
      Name: {{ incidentType.name }}
    </button>
    }
  </div>
</div>
