@if (isLoading) {
<div>Loading</div>
}

<!---->
@if (!isLoading && errorMessage) {
<div>
  {{ errorMessage }}
</div>
}
<!---->

@if (!isLoading && !errorMessage) {
<div class="container">
  <div class="links">
    @for (item of links; track $index) { @if
    (hasRequiredRole(item.authorizedRoles, currentUserRoles) &&
    hasRequiredPermissions(item.permissionsNeeded, currentPermissions)) {
    <a mat-flat-button [routerLink]="item.href">{{ item.name }}</a>
    } }
  </div>

  <h2>Case Overview:</h2>

  <div class="overview_container">
    <p>Case Number: {{ caseDetails?.caseNumber }}</p>
    <p>Description: {{ caseDetails?.description }}</p>
    <p>Summary: {{ caseDetails?.summary }}</p>
    <p>Incident date: {{ caseDetails?.incidentDateTime | date }}</p>
    <p>Repoted date: {{ caseDetails?.reportedDateTime | date }}</p>
    <p>Case priority: {{ caseDetails?.priority | casePriorityPipe }}</p>
    <p>Case status: {{ caseDetails?.status | caseStatusPipe }}</p>
    <p>Reporting officer: {{ caseDetails?.reportingOfficerUserName }}</p>
  </div>

  <div class="btns">
    @if (hasRequiredPermissions([casePermissionNames.canEdit],
    currentPermissions)) {
    <button mat-raised-button>Edit</button>
    } @if (hasRequiredRole([userRoles.Admin], currentUserRoles)) {
    <button mat-raised-button>Delete</button>
    }
  </div>

  <p class="incident_types">
    Incident types: @for (incidentType of incidentTypes; track $index) {<span>{{
      incidentType.name
    }}</span
    >} @empty {<span>No linked incident types</span>}
  </p>

  @if (hasRequiredPermissions([casePermissionNames.canEditIncidentType],
  currentPermissions)) {
  <div>
    <a mat-raised-button routerLink="incident-types/edit">Edit</a>
  </div>
  }
</div>
}
