<div class="container">
  <div class="title_with_icon">
    <mat-icon
      aria-hidden="false"
      aria-label="Shied icon"
      fontIcon="dashboard"
    ></mat-icon>
    <a [routerLink]="dashboardUrl"> Dashboard </a>
  </div>

  @if (windowWidth > 1200) {
  <!-- Doing it this way to actually remove the HTML from DOM-->
  <div class="links_container">
    @for (link of links; track $index) { @if
    (hasRequiredRole(link.authorizedRoles, ROLES)) {
    <a [routerLink]="link.href" class="header_link"> {{ link.name }} </a>
    } }
  </div>
  }

  <app-header-profile></app-header-profile>
</div>
