<h2 mat-dialog-title>Upload evidence</h2>
<mat-dialog-content class="mat-typography">
  <form class="split" [formGroup]="createEvidenceForm">
    <button mat-raised-button (click)="selectFileClicked()">
      Select a file
    </button>
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="handleFileInput($event)"
    />

    @if (createEvidenceForm.controls.file.value) {
    <p>File selected:</p>
    <p>Type: {{ createEvidenceForm.controls.file.value.type }}</p>
    <p>
      Size:
      {{ createEvidenceForm.controls.file.value.size | fileBytePipe }}
    </p>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-hint>Change the name of the file</mat-hint>

      @if (createEvidenceForm.controls.name.hasError("required")) {
      <mat-error> Required </mat-error>
      }
      <!---->

      @if (createEvidenceForm.controls.name.hasError("minlength")) {
      <mat-error> Min length is 5 </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-hint
        >Optional @if (createEvidenceForm.controls.description.value?.trim()) {
        {{ createEvidenceForm.controls.description.value?.length }} / 200 }
      </mat-hint>

      @if (createEvidenceForm.controls.description.hasError("maxlength")) {
      <mat-error> Max length is 200 </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Collection Date time</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="collectionDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      @if (createEvidenceForm.controls.collectionDate.hasError("required")) {
      <mat-error> Required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Reference Number</mat-label>
      <input matInput formControlName="referenceNumber" />
      <mat-hint>A unique reference number</mat-hint>

      @if (createEvidenceForm.controls.referenceNumber.hasError("required")) {
      <mat-error> Required </mat-error>
      }
      <!---->

      @if (createEvidenceForm.controls.referenceNumber.hasError("minlength")) {
      <mat-error> Min length is 5 </mat-error>
      }

      <!---->

      @if
      (createEvidenceForm.controls.referenceNumber.hasError("uniqueReferenceNumber"))
      {
      <mat-error> Number taken </mat-error>
      }
    </mat-form-field>

    @if (createEvidenceForm.controls.file.hasError("maxFileSize")) {
    <p>
      File size to large
      {{ createEvidenceForm.controls.file.value.size | fileBytePipe }} max size
      Max size accepted:
      {{
        createEvidenceForm.controls.file.getError("maxFileSize")
          ?.requiredMaxSize | fileBytePipe
      }}
    </p>
    }
    <!---->

    <app-search-evidence-tag-multi-select formControlName="tags" class="full"/>
    <!---->

    {{ createEvidenceForm.value | json }}
    } @else {
    <p>No File selected</p>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="resetClicked()">Clear</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button [disabled]="createEvidenceForm.invalid || isLoading">
    Create
  </button>
</mat-dialog-actions>
