<div class="container">
  <div class="img">
    <img src="/assets/brand/logo.png" alt="" />
  </div>
  <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <span> Change your current password* </span>
    @if (errorMessage) {
    <span>
      {{ errorMessage }}
    </span>
    }
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-hint>Email</mat-hint>

        @if (changePasswordForm.controls.email.hasError("required")) {
        <mat-error> Required </mat-error>
        } @else if (changePasswordForm.controls.email.hasError("email")) {
        <mat-error> Provide a valid email </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-hint>Password</mat-hint>

        @if (changePasswordForm.controls.password.hasError("required")) {
        <mat-error> Required </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          [type]="newPasswordInputType"
        />
        <mat-hint>New password</mat-hint>
        <button
          matSuffix
          mat-icon-button
          type="button"
          (click)="toggleInputType()"
        >
          <mat-icon>
            @if (newPasswordInputType === "password") {visibility} @else
            {visibility_off}
          </mat-icon>
        </button>

        @if (changePasswordForm.controls.newPassword.hasError("required")) {
        <mat-error> Required </mat-error>
        } @else if
        (changePasswordForm.controls.newPassword.hasError("password")) {
        <mat-error> Passwords needs to be stronger </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="buttons">
      <button
        mat-raised-button
        [disabled]="changePasswordForm.invalid || isSendingRequest"
      >
        Submit
      </button>
      <button
        type="reset"
        mat-raised-button
        [disabled]="!changePasswordForm.dirty"
        (click)="changePasswordForm.reset()"
      >
        Clear
      </button>
    </div>
  </form>
</div>
