<div class="container">
  <form [formGroup]="smsForm" (ngSubmit)="onSubmit()">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>SMS Code</mat-card-title>
        <mat-card-subtitle
          >Enter the code sent to your phone number</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" class="full-width" />
          @if (smsForm.controls.code.hasError("required")) {
          <mat-error>Code is required</mat-error>
          }
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="button" disabled="true">Resend Code</button>
        <button mat-button [disabled]="smsForm.invalid">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
