@if (isLoading) {
<div>Loading</div>
}

<!---->

@if (!isLoading && errorMessage) {
<div>
  {{ errorMessage }}
</div>
}

<!---->

@if (!isLoading && !errorMessage) {
<div class="container">
  <h2>Incident type details:</h2>

  <div class="details">
    <span>Name: {{ incidentType?.name }}</span>
    <span
      >Description: @if (incidentType?.description) {
      {{ incidentType?.description }}} @else { No description }</span
    >

    <span> Linked to: {{ caseIncidentTypeCount }} cases</span>
  </div>

  <div class="buttons">
    <a mat-raised-button routerLink="edit">Edit</a>
    <button mat-raised-button (click)="deleteClicked()">Delete</button>
  </div>
</div>
}
