@if (isLoading) {
<div>Loading</div>
}

<!---->

@if (error && !isLoading) {
<div>Error occcured: {{ error }}</div>
}

<!---->

@if (!isLoading && !error) {
<div class="container">
  <app-back-navigation-button navigationUrl="../"></app-back-navigation-button>
  <h1>Assigned Officers</h1>
  <div class="assigned_users_list_container">
    @for (caseUsers of assignedUsers; track $index) {
    <div class="user_details">
      <span>
        {{ caseUsers.userName }}
      </span>


      <button mat-button (click)="removeUserClicked(caseUsers.userId)">
        Remove
      </button>
    </div>
    }
  </div>
  <div>
    <button mat-raised-button (click)="assignUserClicked()">
      assign officer
    </button>
  </div>
</div>
}
