<div class="singular_permission_item">
  <span>User: {{ permissionData().userName }}</span>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canEdit"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canEdit', $event)"
  >
    Can Edit
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canViewPermissions"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canViewPermissions', $event)"
  >
    Can View Permissions
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canEditPermissions"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canEditPermissions', $event)"
  >
    Can Edit Permissions
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canViewFileAttachments"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canViewFileAttachments', $event)"
  >
    Can View File Attachments
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canDeleteFileAttachments"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canDeleteFileAttachments', $event)"
  >
    Can Delete File Attachments
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canViewAssigned"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canViewAssigned', $event)"
  >
    Can View Assigned
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canAssign"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canAssign', $event)"
  >
    Can Assign
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canRemoveAssigned"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canRemoveAssigned', $event)"
  >
    Can Remove Assigned
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canViewActions"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canViewActions', $event)"
  >
    Can View Actions
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canAddActions"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canAddActions', $event)"
  >
    Can Add Actions
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canEditActions"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canEditActions', $event)"
  >
    Can Edit Actions
  </mat-slide-toggle>

  <mat-slide-toggle
    class="example-margin"
    [checked]="permissionData().canDeleteActions"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canDeleteActions', $event)"
  >
    Can Delete Actions
  </mat-slide-toggle>

  <mat-slide-toggle
    [checked]="permissionData().canEditIncidentType"
    [disabled]="disbaleItem"
    (change)="onPermissionToggleChange('canEditIncidentType', $event)"
  >
    Can Edit Incident type
  </mat-slide-toggle>
</div>
