<h2 mat-dialog-title>Delete incident type</h2>
<mat-dialog-content class="content">
  Are you sure you want to delete this incident type?
  <br />
  <strong>NOTE:</strong> Deleting the incident type will unlink any cases
  currently associated with it. @if (errorMessage) {
  <br />
  {{ errorMessage }}
  }
</mat-dialog-content>
<mat-dialog-actions class="btns">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button
    mat-button
    [disabled]="isDeleteButtonDisabled"
    (click)="deletedClick()"
  >
    Delete
  </button>
</mat-dialog-actions>
