<div class="container">
  <form class="card">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Confirm your device</mat-card-title>
        <mat-card-subtitle>Enter the code you received</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="btns">
        <button mat-button [disabled]="true" mat-raised-button type="button">
          Resend code
        </button>
        <button mat-button [disabled]="true" mat-raised-button type="submit">
          Confirm
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
