<mat-drawer-container class="administration_shell" (backdropClick)="toggle()">
  <mat-drawer
    #drawer
    [mode]="sideNavMode"
    [opened]="isOpen"
    class="drawer_shell"
  >
    <app-administration-side-nav></app-administration-side-nav>
  </mat-drawer>

  <div class="administration_content_shell">
    <div class="administration_content_header_shell">
      <app-administration-header></app-administration-header>
    </div>
    <div class="administration_content_page_shell">
      <!-- Page content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
