@if (isLoading) {
<div class="loading_container">
  <mat-spinner></mat-spinner>
</div>
} @else { @if (errorMessage) {
<div class="error_message_container">
  <span class="err_text">
    {{ errorMessage }}
  </span>
</div>
} @else {
<div class="container">
  <mat-tab-group class="group" dynamicHeight>
    <mat-tab label="Details">
      <app-user-management-edit-user-details-view
        [(userData)]="userDetailsData"
        (userDataChangesMadeEvent)="userDataChangeEventListener($event)"
      ></app-user-management-edit-user-details-view>
    </mat-tab>
    <mat-tab label="Roles">
      <div>
        {{ userDetailsData?.email }}
        {{ isFormsValid["userDetailsFormValid"] }}
      </div>
    </mat-tab>
    <mat-tab label="Settings"> <div>tab</div> </mat-tab>
  </mat-tab-group>

  <div class="bottom">
    <button mat-raised-button (click)="cancelClick()">Cancel</button>
    <button
      mat-raised-button
      (click)="saveClick()"
    >
      Save
    </button>
  </div>
</div>

} }
