<div class="container">
  <form [formGroup]="searchCasesFrom" (ngSubmit)="onSubmit()" class="form">
    <h2>Search for cases in the system</h2>
    <div class="inputs">
      <mat-form-field appearance="outline">
        <mat-label>Case number</mat-label>
        <input matInput formControlName="caseNumber" />
        <mat-hint>Can be partial case number</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Incident date time</mat-label>
        <input
          matInput
          [matDatepicker]="incidentDateTimePicker"
          formControlName="incidentDateTime"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="incidentDateTimePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #incidentDateTimePicker></mat-datepicker>

        @if
        (searchCasesFrom.controls.incidentDateTime.hasError("matDatepickerParse"))
        {
        <mat-error> Date time must be a valid date </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Reported date time</mat-label>
        <input
          matInput
          [matDatepicker]="reportedDateTimePicker"
          formControlName="reportedDateTime"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="reportedDateTimePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #reportedDateTimePicker></mat-datepicker>

        @if
        (searchCasesFrom.controls.reportedDateTime.hasError("matDatepickerParse"))
        {
        <mat-error> Date time must be a valid date </mat-error>
        }
      </mat-form-field>
      <app-case-status-select formControlName="status" />
      <app-case-priority-select formControlName="priority" />
      <app-search-users-select
        formControlName="reportingOfficer"
        [requireSelection]="false"
        displayText="Reporting Officer"
        [appearance]="'outline'"
      />
      <app-search-users-select
        formControlName="createdByUser"
        [requireSelection]="false"
        displayText="Created by Officer"
        [appearance]="'outline'"
      />

      <mat-form-field appearance="outline">
        <mat-label>Incident type</mat-label>
        <input
          #incidentTypeInput
          type="text"
          matInput
          formControlName="incidentType"
          [matAutocomplete]="incidentTypeAuto"
          (focus)="fetchIncidentTypes()"
          (input)="filterIncidentTypes()"
        />

        <mat-hint> Optional </mat-hint>
        <mat-autocomplete requireSelection #incidentTypeAuto="matAutocomplete">
          @if (isFetchingIncidentTypes) {
          <mat-option [value]="null" disabled
            >Fetching incident types</mat-option
          >
          }

          <!---->

          @if (!isFetchingIncidentTypes) { @for (incidentType of
          filteredIncidentTypes; track incidentType.id) {
          <mat-option [value]="incidentType.name">{{
            incidentType.name
          }}</mat-option>
          } @empty {
          <mat-option [value]="null"
            >No incident types match search term</mat-option
          >
          } }
        </mat-autocomplete>
      </mat-form-field>

      <app-search-users-multi-select
        displayText="Assigned users"
        formControlName="assginedUsers"
      />
    </div>

    <div class="btns">
      <button mat-raised-button type="submit" [disabled]="isFetchingCases">
        Search
      </button>
      <button mat-raised-button type="reset" (click)="clearClicked()">
        Clear
      </button>
    </div>
  </form>

  @if (isFetchingCases) {
  <div>Fetching cases</div>
  }

  <!---->

  @if (!isFetchingCases && casesPagedResult) {
  <app-case-grid-list
    [casePagedResult]="casesPagedResult"
    (nextClicked)="nextPageClicked()"
    (previousClicked)="previousPageClicked()"
  />
  }
</div>
