<div class="container">
    <form [formGroup]="searchCasesFrom" (ngSubmit)="onSubmit()" class="form">
        <h2>Search for cases in the system</h2>
        <div class="inputs">
            <mat-form-field appearance="outline">
                <mat-label>Case number</mat-label>
                <input matInput formControlName="caseNumber">
                <mat-hint>Can be partial case number</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Incident date time</mat-label>
                <input matInput [matDatepicker]="incidentDateTimePicker" formControlName="incidentDateTime">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="incidentDateTimePicker"></mat-datepicker-toggle>
                <mat-datepicker #incidentDateTimePicker></mat-datepicker>

                @if (searchCasesFrom.controls.incidentDateTime.hasError("matDatepickerParse")) {
                <mat-error>
                    Date time must be a valid date
                </mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Reported date time</mat-label>
                <input matInput [matDatepicker]="reportedDateTimePicker" formControlName="reportedDateTime">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="reportedDateTimePicker"></mat-datepicker-toggle>
                <mat-datepicker #reportedDateTimePicker></mat-datepicker>

                @if (searchCasesFrom.controls.reportedDateTime.hasError("matDatepickerParse")) {
                <mat-error>
                    Date time must be a valid date
                </mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Case status</mat-label>
                <mat-select formControlName="status">
                    @for (status of caseStatus; track status) {
                    <mat-option [value]="status.number">{{status.name}}</mat-option>
                    }
                </mat-select>

                <mat-hint>Optional</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Case priority</mat-label>
                <mat-select formControlName="priority">
                    @for (priority of casePrioritys; track priority) {
                    <mat-option [value]="priority.number">{{priority.name}}</mat-option>
                    }
                </mat-select>

                <mat-hint>Optional</mat-hint>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Reporting officer</mat-label>
                <input #reportingOfficerInput type="text" matInput [matAutocomplete]="reportingOfficerAuto"
                    (input)="filterUsers()" formControlName="reportingOfficerUserName">

                <mat-hint>
                    Optional
                </mat-hint>
                <mat-autocomplete requireSelection #reportingOfficerAuto="matAutocomplete">

                    @if (isFetchingUsers) {
                    <mat-option disabled>Fetching users...</mat-option>
                    }
                    <!---->
                    @if (!isFetchingUsers) {
                    @for (user of users; track user.id) {
                    <mat-option [value]="user.userName">{{user.userName}}</mat-option>
                    } @empty { <mat-option>No officers found with search
                        term</mat-option>}
                    }
                </mat-autocomplete>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Incident type</mat-label>
                <input #incidentTypeInput type="text" matInput formControlName="incidentType"
                    [matAutocomplete]="incidentTypeAuto" (focus)="fetchIncidentTypes()" (input)="filterIncidentTypes()">

                <mat-hint>
                    Optional
                </mat-hint>
                <mat-autocomplete requireSelection #incidentTypeAuto="matAutocomplete">
                    @if (isFetchingIncidentTypes) {
                    <mat-option [value]="null" disabled>Fetching incident types</mat-option>
                    }

                    <!---->

                    @if (!isFetchingIncidentTypes) {
                    @for (incidentType of filteredIncidentTypes; track incidentType.id) {
                    <mat-option [value]="incidentType.name">{{incidentType.name}}</mat-option>
                    } @empty {
                    <mat-option [value]="null">No incident types match search term</mat-option>
                    }
                    }
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="btns">
            <button mat-raised-button type="submit">Search</button>
            <button mat-raised-button type="reset">Clear</button>
        </div>
    </form>
</div>