<div class="container">
  <h2>Create a incident type</h2>

  <form
    class="form"
    [formGroup]="createIncidentTypeForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name" />
        <mat-hint>Name</mat-hint>

        @if (createIncidentTypeForm.controls.name.hasError("required")) {
        <mat-error> Required </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          formControlName="description"
        />
        <mat-hint>Description</mat-hint>
      </mat-form-field>
    </div>

    <div class="buttons">
      <button
        mat-raised-button
        [disabled]="createIncidentTypeForm.invalid || isSendingRequest"
      >
        Create
      </button>
      <button
        mat-raised-button
        type="button"
        (click)="createIncidentTypeForm.reset()"
      >
        Clear
      </button>
    </div>
  </form>
</div>
